extends base.pug

block content 
    h3=video.description
    h3 #{video.meta.rating} rating 
    h3 #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
    a(href=`${video.id}/edit`) Edit Video &larr;